.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.Btn{
  color: #4ECCA3;
  background-color: #393E46;
  border-color: #4ECCA3;
  margin: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 1.5rem;
}
body {
  background-color: #393E46;
}
#Resetbtn{
  display: none;
}
h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin: 5% 0 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
input{
  margin: 15px;
  border-radius: 18px;
  padding: 2% 5%;
  background-color: inherit;
  border-color: #4ECCA3;
  color: #4ECCA3;
}
