.dark{
  color: #4ECCA3;
  background-color: #393E46;
  border-color: #4ECCA3;
}
footer .dark{
  color: #EEEEEE;
}
footer.light{
  color: #b35e40;
}
.light{
  background-color: #fff3cd;
  color: #ff926b;
  border-color: #ff926b;
}
.error{
  color: #c3030a;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.Btn{
  margin: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 1.5rem;
}
#Resetbtn{
  display: none;
}
h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
}
.toggle{
  font-size:85%;
  position: fixed;
  top: 8%;
  right: 6%;
}
p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin: 5% 0 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
input{
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  margin: 15px;
  border-radius: 18px;
  padding: 2% 6%;
  background-color: inherit;
}
@media screen and (max-width:600px) {
  h2{
    font-size: 250%;
  }
  img{
    width:60%;
  }
  input{
    margin-top: 40px;
  }
  .toggle{
    position: absolute;
    right: 0px;
    top: 190px;
  }
}
